body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body .header {
  position: relative;
  padding: 4vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

body .header img {
  width: 23vw;
  height: 3.5vw;
}

body .header .button {
  align-self: flex-end;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  padding: 5px 15px;
  border-radius: 20px;
}

body .main {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 15vw;
  margin: 0 auto;
}

body .main h1 {
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
}

body .main p {
  font-size: 1.5vw;
  line-height: normal;
  font-weight: 400;
  text-align: left;
}

body .main .button {
  width: 15vw;
  margin: 0 auto;
  padding: 1.2vw 3.25vw;
  border-radius: 3vw;
  background-color: #ff52bf;
  color: white;
  text-align: center;
  cursor: pointer;
}

body .main .button:hover {
  box-shadow: 2px 4px 10px -3px grey;
}

body .main img {
  position: relative;
  width: 100%;
}

body .main .intro {
  width: 75%;
  margin: 0 auto;
}

body .main .intro p {
  width: 50%;
  margin: 3vw auto;
}

body .main .overview {
  width: 75%;
  margin: 0 auto;
  margin-top: 5vw;
}

body .main .overview .block {
  margin-top: 4vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

body .main .overview .block .card img {
  width: 2.5vw;
}

body .main .overview .block .card h1 {
  font-size: 5vw;
  margin: 2vw 0vw;
}

body .main .overview .block .card h2 {
  color: grey;
  text-align: center;
}

body .main .grow {
  position: relative;
  width: 100%;
  margin-top: 10vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

body .main .grow .block {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  background-color: #f5faff;
}

body .main .grow .block img {
  width: 40%;
}

body .main .grow .block .innerBlock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}

body .main .grow .block .innerBlock h1 {
  text-align: left;
  padding-bottom: 20px;
  width: 75%;
}

body .main .grow .block .innerBlock p {
  text-align: left;
  width: 75%;
}

body .main .flow {
  position: relative;
  margin-top: 10vw;
  width: 100%;
}

body .main .flow .block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

body .main .flow .block img {
  width: 40%;
}

body .main .flow .block .innerBlock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}

body .main .flow .block .innerBlock h1 {
  text-align: left;
  padding-bottom: 20px;
  width: 75%;
}

body .main .flow .block .innerBlock p {
  text-align: left;
  width: 75%;
}

body .main .users {
  position: relative;
  margin-top: 10vw;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

body .main .users .block {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  background-color: #f5faff;
}

body .main .users .block img {
  width: 40%;
}

body .main .users .block .innerBlock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}

body .main .users .block .innerBlock h1 {
  text-align: left;
  padding-bottom: 20px;
  width: 75%;
}

body .main .users .block .innerBlock p {
  text-align: left;
  width: 75%;
}

body .main .ready {
  position: relative;
  margin-top: 10vw;
}

body .main .ready h1 {
  margin: 5vw;
}

body .footer {
  position: relative;
  top: 15vw;
  margin-top: 10vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

body .footer h1 {
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
}

body .footer p {
  font-size: 1.5vw;
  line-height: normal;
  font-weight: 400;
  text-align: left;
}

body .footer img {
  width: 100%;
}

body .footer .block {
  background-color: #00252e;
  color: white;
  padding-top: 5vw;
  padding-bottom: 2vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

body .footer .block .innerBlock {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

body .footer .block .innerBlock img {
  margin: 1vw;
  width: 50%;
}

body .footer .block .innerBlock .footIntro {
  margin: 1vw;
}

body .footer .block .innerBlock .footPhone {
  margin: 1vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

body .footer .block .innerBlock .footPhone img {
  width: 1.5vw;
}

body .footer .block .innerBlock .footEmail {
  margin: 1vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

body .footer .block .innerBlock .footEmail img {
  width: 1.5vw;
}

body .footer .block .innerBlock .footSubscribe {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

body .footer .block .innerBlock .footSubscribe .textfield {
  border-radius: 1vw;
}

body .footer .block .innerBlock .footSubscribe .button {
  width: 15vw;
  margin: 0 auto;
  padding: 1.2vw 3.25vw;
  border-radius: 3vw;
  background-color: #ff52bf;
  color: white;
  text-align: center;
  cursor: pointer;
}

body .footer .block .innerBlock .footSubscribe .button:hover {
  box-shadow: 2px 4px 10px -3px grey;
}

body .footer .logos {
  background-color: #00252e;
  width: 100%;
}

body .footer .logos .block {
  width: 30%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
}

body .footer .logos .block img {
  width: 2vw;
  margin-left: 10px;
}

body .footer .attribution {
  font-size: 14px;
  text-align: center;
  background-color: #00252e;
  color: white;
  padding: 2vw;
}

body .footer .attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 500px) {
  body .header img {
    width: 35vw;
    height: 5vw;
  }
  body .main {
    top: 10vw;
  }
  body .main h1 {
    font-size: 6vw;
  }
  body .main p {
    font-size: 3vw;
  }
  body .main .button {
    width: 35vw;
    padding: 2.5vw 6vw;
    border-radius: 6vw;
  }
  body .main .intro {
    width: 90%;
  }
  body .main .intro p {
    width: 90%;
    text-align: center;
    margin-top: 6vw;
    margin-bottom: 6vw;
  }
  body .main .overview {
    width: 90%;
    margin-top: 10vw;
  }
  body .main .overview .block {
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  body .main .overview .block .card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vw;
  }
  body .main .overview .block .card img {
    width: 5vw;
  }
  body .main .overview .block .card h1 {
    font-size: 14vw;
  }
  body .main .overview .block .card h2 {
    font-size: 3vw;
  }
  body .main .grow .block {
    flex-flow: column nowrap;
    align-items: center;
  }
  body .main .grow .block img {
    width: 90%;
  }
  body .main .grow .block .innerBlock {
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 90%;
  }
  body .main .grow .block .innerBlock p, body .main .grow .block .innerBlock h1 {
    text-align: center;
  }
  body .main .flow .block {
    flex-flow: column nowrap;
    align-items: center;
  }
  body .main .flow .block img {
    width: 90%;
  }
  body .main .flow .block .innerBlock {
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 90%;
  }
  body .main .flow .block .innerBlock p, body .main .flow .block .innerBlock h1 {
    text-align: center;
  }
  body .main .users .block {
    flex-flow: column nowrap;
    align-items: center;
  }
  body .main .users .block img {
    width: 90%;
  }
  body .main .users .block .innerBlock {
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 90%;
  }
  body .main .users .block .innerBlock p, body .main .users .block .innerBlock h1 {
    text-align: center;
  }
  body .footer {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vw;
  }
  body .footer h1 {
    font-size: 6vw;
  }
  body .footer p {
    font-size: 3vw;
  }
  body .footer .block {
    flex-flow: column-reverse nowrap;
    align-items: center;
  }
  body .footer .block .innerBlock {
    width: 80%;
    justify-content: space-between;
  }
  body .footer .block .innerBlock .footIntro {
    margin-top: 5vw;
  }
  body .footer .block .innerBlock .footPhone img {
    width: 3vw;
  }
  body .footer .block .innerBlock .footEmail img {
    width: 3vw;
  }
  body .footer .block .innerBlock .footNewsHead {
    margin-top: 10vw;
  }
  body .footer .block .innerBlock .footNews {
    margin-top: 5vw;
  }
  body .footer .block .innerBlock .footSubscribe {
    margin-top: 5vw;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
  }
  body .footer .block .innerBlock .footSubscribe .textfield {
    width: 100%;
  }
  body .footer .block .innerBlock .footSubscribe .button {
    margin-top: 5vw;
    margin-bottom: 7.5vw;
    width: 30vw;
    border-radius: 1vw;
  }
  body .footer .logos .block {
    display: flex;
    flex-flow: row nowrap;
  }
  body .footer .logos .block img {
    width: 3vw;
  }
  body .footer .attribution {
    width: 100%;
  }
}
